.header {
  background-color: #eeeeee;
  margin: 0 100px;
  padding: 50px 5px;
}
.header h2 {
  font-weight: normal;
}
.header .input_search input {
  line-height: 20px;
  text-indent: 5px;
}
.header .input_search button {
  line-height: 20px;
}
.user_list {
  margin: 30px 100px;
  width: 100%;
}
.user_list ul {
  display: flex;
  flex-wrap: wrap;
}
.user_list ul li {
  width: 250px;
  border: 1px solid #d3cbcb;
  border-radius: 4px;
  margin-bottom: 20px;
}
.user_list ul li a {
  display: block;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.user_list ul li a img {
  display: block;
  width: 100px;
  height: 100px;
}
.user_list ul li p {
  text-align: center;
  margin: 5px 0;
}
